<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<nav class="navbar navbar-dark bg-dark">
	<div class="container-fluid">
		<div class="navbar-header">
		<form action="/logout" method="post" class="navbar-form navbar-right">
		        		<button type="submit" class="btn btn-primary">
		        			<span class="glyphicon glyphicon-log-out"></span>
		        			Sair
		        		</button>
		        		
			      	</form>
			<a class="navbar-brand">
				<img alt="Unicesumar" src="https://seeklogo.com/images/U/unicesumar-logo-5302676CC1-seeklogo.com.png" width="100" height="50" loading="lazy" />
			</a> 
			<a class="navbar-but">
				<a class="btn btn-dark" href="/">Home</a>
				<a class="btn btn-dark" href="/reservas">Reservas</a>
			</a>
		</div>
	</div>

</nav>

</html>