<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{LayoutPadrao}">
<head>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<title>Pesquisa de funcionários em WA</title>
</head>
<section layout:fragment="conteudo">
	<div class="card card-default">
		<div class="card-header"></div>

		<div class="card-body">
			<div class="clearfix text-center">
				<h2 class="card-title aw-titulo-panel">Gerenciador de
					reservas</h2>

			</div>
			
			<div><h3><center>Integrantes:<div>Rhayann Schuvantek<br>
			Isabella Kratchei<br>
			Ana Luiza Mayer Barros</h3></div></center></div>
			<div><center>Projeto com intenção de apresentar uma forma de organizar e gerenciar tipos de salas e suas disponibilidades para reuniões.</center></div>
			
		</div>
		<br>
		<br>
		<div class="row d-flex justify-content-center">
				<a class="btn btn-primary btn-lin" href="/reservas">Iniciar</a>
			</div>
	</div>
</section>

</html>